html {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}

.container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  padding: 0;
}

#bigpicture {
  height: 31rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-size: cover;
}

#bigpicture .container {
  flex-direction: column;
}

#top-banner {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  padding: 1rem 2rem;
  margin-top: 1rem;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
}

.nav ul {
  margin: 0;
}

.nav span {
  display: none;
}

.nav li {
  display: inline;
  margin-left: 2rem;
}

.textbox {
  display: flex;
  background-color: white;
  padding: 1.5rem 5rem 1.5rem 5rem;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: -2rem;
}

.textbox h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

#features .container {
  padding-top: 3rem;
  align-items: center;
  width: 27rem;
  justify-content: space-between;
}

.box {
  height: 8rem;
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.box img {
  width: 3.5rem;
  height: auto;
}

.box img.landscape {
  height: auto;
  width: 5rem;
  padding-top: 1.2rem;
}

.box h3 {
  text-align: center;
}

#phil-appt .container {
  margin-top: 3rem;
  flex-direction: row;
  justify-content: center;
}

.blue {
  font-weight: bold;
  background-color: cadetblue;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  color: white;
  margin-bottom: 1rem;
}

.column {
  width: 35%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  margin-bottom: 5rem;
}

footer {
  width: 100%;
}

footer .container {
  background-color: azure;
  padding: 4rem;
}

.bottom-logo {
  display: flex;
  align-items: center;
  }

.bottom-logo img {
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
}

@media only screen and (max-width: 1050px) {
  .container {
    width: 100%;
  }

  #bigpicture {
    height: 22rem;
  }

  #top-banner {
    margin-top: 0;
  }

  .textbox {
    display: flex;
    background-color: white;
    padding: 0.75em 4rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: 2rem;
  }

  .textbox h1 {
    font-size: 1.33rem;
  }

  footer .container {
    background-color: azure;
    padding: 0;
    margin: 0;
  }

  .bottom-logo {
    display: flex;
    align-items: center;
    margin: 4rem;
    }

}

@media only screen and (max-width: 700px) {
  #bigpicture {
    height: 17rem;
    background-position: 20%;
  }

  .logo span {
    display: none;
  }

  .nav ul {
    display: none;
  }

  .nav span {
    display: block;
  }

  .textbox {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 1rem 0;
    margin-top: 9rem;
    width: 100%;
  }

  .textbox h1 {
    font-size: 1rem;
  }

  #features .container {
    margin-top: 3.77rem;
    margin-bottom: 3.77rem;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .box {
    height: auto;
  }

  .box img.landscape {
    padding-top: 1.54rem;
  }

  .box h3 {
    font-size: 0.77rem;
    margin-top: 1.2rem;
  }

  #phil-appt .container {
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

  .blue {
    width: 100%;
    text-align: center;
      padding: 0;
    margin: 0;
  }

  .column {
    width: 100%;
    margin-bottom: 5rem;
      }

  .column p {
    font-size: .77rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

  footer .container {
    width: 100%;
        margin: 0;
    padding: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
    justify-content: center;
  }

  .bottom-logo span {
    display: none;
  }

  .bottom-logo {
        justify-content: center;
    padding: 0;
    margin: 0;
    }

  .bottom-logo img {
    padding: 0;
    margin: 0;
  }

}
